@(addPersonForm: Form[domain.Person], searchTerm:String, personList: List[domain.Person])(implicit messages: Messages)

<div class="page-header">
  <h1>Persons</h1> 

  <div class="row">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addPersonWindow">
      Add new person
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addPersonWindow" tabindex="-1" role="dialog" aria-labelledby="addPersonWindow">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addPersonWindow">Add person</h4>
          </div>
          @helper.form(action = routes.PersonController.submitAddPersonForm) {
            <div class="modal-body">
        
              @helper.inputText(addPersonForm("forename"))
              @helper.inputText(addPersonForm("surname"))
              @helper.inputText(addPersonForm("email"))
         

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Add new person</button>
            </div>
          }  
        </div>  
      </div>
    </div>
  </div>
</div> 

<div class="row">

  @helper.form(action=routes.PersonController.searchPersons()) {
    <dl>
      <input type="text" id="searchbox" name="f" value="@searchTerm" placeholder="Filter by name...">
      <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
    </dl>
  }

</div> 

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <th>Person id</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Email address</th>
        <th></th>
        <th></th>
      </tr>  
  
      @for(item <- personList) {

        <tr>
          <td>@item.id</td>
          <td>@item.forename</td>
          <td>@item.surname</td>
          <td>@item.email</td>
          <td><a href ="#" data-toggle="modal" data-target="#editPersonWindow">Edit</a></td>
          <td><a href="/deleteperson/@item.id">Delete</a></td>
        </tr>  

      } 

    </table>
  </div>
</div>    